
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
html,
body {
	height: 100%;
}
body {
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
  font-family: 'Cabin', sans-serif;
}
input,
button,
textarea {
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

button.profile-back-button {
	font-weight: 700;
	font-size: 18px;
	color: white;
	padding: 8px 24px;
	background-color: #3B755F;
	border-radius: 36px;
	position: fixed;
	bottom: 120px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 0.3s ease;
}

button.profile-back-button:hover {
	opacity: 0.8;
}

@media (max-width: 425px) {
    body {
		align-items: start;
		background-color: #F9F9F9;
	}
	button.profile-back-button{
		bottom: 50px;
	}
  }